body {
  margin: 0;
  padding: 0;
  background-color: gray;

  height: 400px;
  width: 400px;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

#captured-image {
  padding: 1em;
  width: 250px;
  height: 250px;
}
