main {
  display: flex;
}

h1,
h2,
p {
  margin: 0;
  margin-bottom: 0.5em;
}

#editor-container {
  width: 70%;
  margin-right: 1em;
}

#editor-container.error {
  outline: 2px solid red;
}

#editor-container.error #error-container {
  background-color: lightpink;
}

#error-container {
  min-height: 5em;
}

.bookmarklet-name {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

#bookmarklet-name {
  font-size: 1.2em;
  padding: 0.25em;
}

#snippets .name {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#snippets .code {
  white-space: pre;
  font-family: monospace;
  padding: 1em;
  background-color: lightgray;
  max-height: 12em;
  overflow: scroll;
}

#snippets button {
  margin-top: 0.5em;
  padding: 0.25em;
  font-size: 1.1em;
}

#bookmarklet-container {
  font-size: 1.5em;
  display: flex;
}

#bookmarklet-container div + div {
  margin-left: 4em;
}

#bookmarklet {
  cursor: pointer;
}
